/**------------------- 
**   BACKGROUND
--------------------*/
.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -999;
  height: 22.6875rem;

  background-image: url('../assets/images/bg-header-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 48em) {
  .bg-image {
    background-image: url('../assets/images/bg-header-desktop.png');
  }
}

/**------------------- 
**      HEADER
--------------------*/
.header {
  --measure: 45.625rem;
  --space: var(--space-xl);

  margin-top: var(--space-5xl);
  position: relative;
}

/*?------------------- 
**      LOGO
--------------------*/
.header .logo img {
  margin: 0 auto;
}

/*?------------------- 
**       HERO
--------------------*/
.hero {
  --gap: 3rem;
}

.hero__text-content {
  --gap: 1rem;
}

.hero__text-content h1,
.hero__text-content p {
  max-width: 56ch;
}

.buttons-wrapper {
  --gap: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .hero {
    align-items: center;
  }

  .buttons-wrapper {
    flex-direction: row;
  }
}

/**------------------- 
**    PRODUCTS
--------------------*/
.product {
  --gap: var(--space-2xl);
  --measure: 75.75rem;
}

.product p {
  font-size: 1rem;
  max-width: 34ch;
}

/*?------------------- 
**  PRODUCT HEADER
--------------------*/
.product__header {
  --gap: var(--space-s);

  align-items: center;
}

.product__header p {
  max-width: 61ch;
}

/*?------------------- 
**  PRODUCT INFO
--------------------*/
.product__info {
  --gap: 3.5rem;
}

.product__image img {
  inline-size: unset;
  object-fit: contain;
}

.product__features {
  --gap: var(--space-xl);
}

.product__features > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
}

.product__features > * > * {
  max-width: 38ch;
}

@media only screen and (min-width: 48em) {
  .product__info {
    flex-direction: row;
  }

  .product__features > * {
    align-items: flex-start;
  }

  .product__features > * > * {
    text-align: start;
  }
}

/**------------------- 
**    COMPANIES
--------------------*/
.companies {
  --s1: 3.5rem;
  --threshold: 48rem;
  --measure: 69.375rem;
}

.companies img {
  margin: 0 auto;
}

/**------------------- 
**     FOOTER
--------------------*/
.background {
  background-color: hsl(var(--clr-grayish-blue), 0.1);
  width: 100%;
  max-width: 90rem;
}

.footer {
  --gap: 3.125rem;
  --measure: 90rem;

  align-items: center;

  /* background-color: hsl(var(--clr-grayish-blue), 0.1); */
  font-size: 3.4375rem;

  padding: 3rem;
}

/*?------------------- 
**      LOGO
--------------------*/
.footer .logo {
  height: 1em;
  margin: 0 auto;
  width: 1em;
}

/*?------------------- 
**    NAVIGATION
--------------------*/
.footer .bottom-navigation {
  font-size: 1.125rem;
}

.footer .bottom-navigation ul {
  --gap: var(--step-5);

  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

.footer .bottom-navigation a {
  color: hsl(var(--clr-dark-grayish-blue));
  text-decoration: none;
}

.footer .bottom-navigation a:hover {
  color: hsl(var(--clr-strong-cyan));
}

/*?--------------------- 
** SOCIAL MEDIA ICONS
----------------------*/
.footer .social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

  font-size: 1.5rem;
}

.footer .social-media-icons svg {
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.footer .social-media-icon svg:hover path {
  fill: hsl(var(--clr-strong-cyan));
}

@media only screen and (min-width: 48em) {
  .background {
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .logo {
    margin: 0;
  }

  .footer .bottom-navigation ul {
    flex-direction: row;
  }

  .footer .social-media-icons {
    flex-direction: row;
  }
}
